/* HOME PAGE */
.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  margin: 0 auto;
}

.welcomehome {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 2rem;
  margin-left: 31vw; 
  margin-top: -6vw;
}

.welcome {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #223030;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.linkbutton {
  margin: 0.5rem;
}

.buttonlink {
  text-decoration: none;
  color: inherit;
}

.homepic {
  background-image: url("../../dndProject/src/images/mainbackground.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1px);
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}



/* NAV */

.NavBar {
  background-color: #bba58f9b;
  width: 100%; 
  padding: .8em 0;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-around;
  z-index: 2;
}
.pageTitle{
  font-family: "Cinzel Decorative", sans-serif; 
  font-weight: 900;
  color:#EFEFE9;
  font-size: 1.5em;
  margin-left: -15vw;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.57);
}

.pageTitle:hover{
  color:#EFEFE9;
}

.navGroup {
  display: flex;
  justify-content: space-between;
  gap: 40%;
  margin-right: -5vw;
  font-size: 1.3em;
}

.listNav, .nav-link {
  font-weight: 900;
  font-style: italic;
}

.dropdown-menu {
  font-family: "IM Fell DW Pica", serif;
  text-transform: lowercase;
  font-style: italic;
  background-color: #efefe984;
  border: none;
}
.dropdown-toggle::after {
      vertical-align: .07em;
}

.dropdown-item{
  color:#523D35;
  font-style: italic;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #bba58f65;
    color: #523d35c2; 
    text-decoration: none; 
}

.dropdown-menu {
  transition: all 0.3s ease;
}


/* FOOTER */

.Footer{
  width: 100%; 
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.footerlink {
  color:#EFEFE9;
  text-shadow: 4px 4px 4px #223030bc;
}

.footerlink:hover {
  color:#efefe9a1;
  letter-spacing: 1px;
}

.kass {
  margin-left: 30px;
}

.git {
  margin-right: 30px;
}

/* Character Page */

.CharacterPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-list {
  max-width: 406px;
}

.stattitle{
  display: flex;
  justify-content: space-between;
  gap: 40%;
}