/* .Main {
  width: 100%;
  max-width: 2500px; 
} */

/* HOME PAGE */
.Home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.welcomehome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
  margin-top: -40px;
}

.welcome {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #223030;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.linkbutton {
  margin: 0.5rem;
}

.buttonlink {
  text-decoration: none;
  color: inherit;
}

.homepic {
  background-image: url("../../dndProject/src/images/mainbackground.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1px);
}



/* NAV */

.NavBar {
  background-color: #bba58f9b;
  width: 100%; 
  padding: .8em 0;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-around;
  z-index: 2;
}
.pageTitle{
  font-family: "Cinzel Decorative", sans-serif; 
  font-weight: 900;
  color:#EFEFE9;
  font-size: 1.5em;
  margin-left: -15vw;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.57);
}

.pageTitle:hover{
  color:#EFEFE9;
}

.navGroup {
  display: flex;
  justify-content: space-between;
  gap: 40%;
  margin-right: -5vw;
  font-size: 1.3em;
}

.listNav, .nav-link {
  font-weight: 900;
  font-style: italic;
}

.dropdown-menu {
  font-family: "IM Fell DW Pica", serif;
  text-transform: lowercase;
  font-style: italic;
  background-color: #e8d9cddc;
  border: none;
}
.dropdown-toggle::after {
      vertical-align: .07em;
}

.dropdown-item{
  color:#523D35;
  font-style: italic;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #bba58f65;
    color: #523d35c2; 
    text-decoration: none; 
}

.dropdown-menu {
  transition: all 0.3s ease;
}


/* FOOTER */

.Footer{
  width: 100%; 
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.footerlink {
  color:#EFEFE9;
  text-shadow: 4px 4px 4px #223030bc;
}

.footerlink:hover {
  color:#efefe9a1;
  letter-spacing: 1px;
}

.kass {
  margin-left: 30px;
}

.git {
  margin-right: 30px;
}
/* Character List */
.Main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.charListImage {
  background-image: url("../../dndProject/src/images/charPage.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1px);
}

.CharacterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start; 
  max-width: 50em;
  margin: auto; 
  gap: 5em; 
  overflow-y: auto; 
  height: calc(100vh - 200px);
  max-height: calc(100vh - 80px); 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.CharacterList::-webkit-scrollbar {
  display: none;
}
.CharList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.charPic {
  width: 200px; 
  height: 190px; 
  object-fit: cover;
  border-radius: 30px;
  filter:brightness(80%);
  transition: all .3s ease;
}

.charPic:hover {
  filter:brightness(100%);
}

.charListName {
  color: #959D90;
  font-style: italic;
  font-size: 1.1em;
  background-color: #223030;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  z-index: 3;
}



/* Character Page */



.CharacterPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  width: 100vh;
  font-family: "IM Fell DW Pica", serif;
  color: #523D35;
}

.char-list {
  max-width: 406px;
  background-color: #bba58fa0;
  border-radius: 30px;
  padding: 41px 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.258);
}

.char-list-two{
  background-color: #bba58fa0;
  padding: 10px 25px;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.258);
  text-transform: lowercase;
  font-style: italic;
}
.stattitle{
  display: flex;
  justify-content: space-around;
}
.stat-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: .5em;
  margin-bottom: 1em;
}
.topstats {
  margin: .5em 0em 1em 1em;
}
.stat-info p {
  margin: 0px 10px;
}
.charLore {
  background-color: #e8d9cdb3; 
  overflow: auto;
  max-height: 220px; 
  border-radius: 30px; 
  padding: 12px;
  margin: 0 1.5em 1.5em 1.5em;

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.charLore::-webkit-scrollbar {
  display: none; 
}
.charPageBack {
  background-image: url("../../dndProject/src/images/charpageback.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1px);
}

.campaignName{
  color: white;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.CharNameText{
  color: white;
  font-family: "Cinzel Decorative", sans-serif; 
  font-size: 30px;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 300px; 
  margin-bottom: 10px; 
  background-color: #e8d9cdb3;
  border-radius: 30px;
  margin: 0 1em 1em 1em;
  padding: 0 1em 0 1em;
  text-transform: lowercase;
  font-size: 1.1em;
}

.stats p {
  margin: 5px 0;
}

.stat-name {
  font-weight: bold;
  margin-right: 5px;
}

.characterIMAGE {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
  height: 200px;
  object-fit: cover;
  object-position: center top; 
  border-radius: 30px;
  margin-bottom: 2em;
}

.charPageButtons {
  display: flex;
  justify-content: space-around;
  margin: 1.5em 0 1em 0;
}

.characterlists {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 100px;
}

.modal-content {
  font-family: "IM Fell DW Pica", serif;
  background-color: #bba58fcf;
  color:#523D35;
  border-radius: 30px;
  text-align: center;
  overflow: auto;
  max-height: 60rem;
}
.form-label {
  margin-top: .5em;
  font-size: 1em;
}
.form-control {
  background-color: #E8D9CD;
  border: none;
  color:#523D35;
  border-radius: 30px;
}
.modal-header{
  font-family: "Cinzel Decorative", sans-serif; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border-bottom: none;
  padding: 2em 0 0 0 ;
}

.modal-title {
  font-weight: 500;
}
.loreinput{
  scrollbar-width: none; 
  -ms-overflow-style: none;
  max-height: 330px; 
}

.returncharacter {
  display: flex;
  justify-content: center;
}

.returncharacter:hover{
  color:#efefe9a1;
  letter-spacing: 1px;
}

/* CAMPAIGN LIST */

.CampaignList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  gap: 90px;
}

.CampaignListBack {
  background-image: url("../../dndProject/src/images/campaignback.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1px);
}

.campaignDiv {
  font-family: "Cinzel Decorative", sans-serif; 
  color: white;
}

.campaignNameList {
  text-align: center;
  background-color: #959d90d7;
  padding: 1em 4em 1em 4em;
  border-radius: 30px;
  font-size: 2em;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.276);
  width: 27em;
  filter: brightness(80%);
  transition: all .3s ease;
}

.campaignNameList:hover {
filter: brightness(100%)
}

.newcampaignbutton {
  font-family: "IM Fell DW Pica", serif;
}

/* new campaign page */

.NewCampaign{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  font-family: "IM Fell DW Pica", serif;
}
.form {
  background-color: #bba58fe5;
  padding: 2em;
  border-radius: 30px;
  color:#523D35;
  text-transform: lowercase;
  text-align: center;
}

.newcampigntitle {
  margin-bottom: 1em;
  font-style: italic;
}

.characterbuttons{
  display: flex;
  justify-content: space-around;
}

.returnCL {
  margin-left: 20em;
  color:rgba(255, 255, 255, 0.702);
  font-style: italic;
}

.campaignInfo {
  max-height: 250px;
}

/* campaign page */

.CampaignDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}