:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  color: #523D35;
  transition: all .23s ease-out;
}
a:hover {
  color: #523d35c2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.buttonlink:hover {
  color: #F9FAEF;
}
.linkbutton {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #959D90;
  color: #F9FAEF;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}

.one {
  transform: rotate(-3deg);
}

.one:hover {
  transform: rotate(0deg);
}

.two {
  transform: rotate(3deg);
}

.two:hover {
  transform: rotate(0deg);
}
.linkbutton:hover {
  border: none;
}

.linkbutton:active{
  border: none;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
