:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  color: #523D35;
  transition: all .23s ease-out;
}
a:hover {
  color: #523d35c2;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.buttonlink:hover {
  color: #F9FAEF;
}
.linkbutton {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #959D90;
  color: #F9FAEF;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}

.abilityButton, .updateButton, .btn-primary, .newcampaignbutton {
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #959D90;
  color: #F9FAEF;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
}
.btn-primary {
  background-color: #959d90 !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.332) !important;
  border-color: #959d90 !important;
  color: #fff !important;
  margin-top: 2em;
}

.btn-primary:hover {
  background-color: #959d90 !important;
  transform: rotate(3deg); 
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #959d90 !important;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.332) !important;
}

.newcharbutton {
  position: fixed;
  padding: .3em .4em .3em .4em;
  margin-top: 55em;
  z-index: 2;
  color: #ccd8c5;
}

.newcharbutton:hover{
  letter-spacing: 1px;
  color: white;
}
 
.one {
  transform: rotate(-3deg);
}

.one:hover {
  transform: rotate(0deg);
}

.two {
  transform: rotate(3deg);
}

.two:hover {
  transform: rotate(0deg);
}
.linkbutton:hover {
  border: none;
}

.linkbutton:active{
  border: none;
}

button:focus-visible, button:focus{
  outline: none;
}



/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
